:root{
  --first-color:black;
  --second-color:white;
  --third-color:#0084fd;
  --fourth-color:#b5ddff;
  --fifth-color:#5a6e7f;
  --sixth-color:#9792e4;
  --seventh-color:#fdc15f;
  --eighth-color:#333333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family:"PT Sans", sans-serif ;
}

/* UTILITY */

.debug{
  border: 1px solid red;
}

.d_flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container{
  width: 98%;
  margin: 0 auto;
}

.row{
  width: 100%;
}

.card{
  border-radius: 20px;
  height: 100%;
  padding: 30px;
}

.card_white{
  background-color: var(--second-color);
  color: black;
}

.card_lilac{
  background-color: var(--sixth-color);
  color: var(--second-color);
}

main .strategic_planning,
main .benefit,
main .get_started{
  background-color: var(--sixth-color);
}

img{
  width: 50%;

}


/* distanze */

.pb_xs{
  padding-bottom: 25px;
}

.pb_s{
  padding-bottom: 35px;
}

.pb_m{
  padding-bottom: 60px;
}

.pb_l{
  padding-bottom: 80px;
}

.pt_xs{
  padding-top: 30px;
}

.pt_s{
  padding-top: 35px;
}

.pt_m{
  padding-top: 60px;
}

.padd_cont{
  padding: 70px 40px;
}

.padd_row{
  padding: 50px 0;
}

.padd_col{
  padding: 0 30px 15px;
}

.mb_m{
  margin-bottom: 50px;
}

.brd_rad{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* bottoni */
.btn{
  background-color: white;
  color: var(--first-color);
  padding: 15px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.btn:hover{
  opacity: .7;
  cursor: pointer;
}

.btn_blue{
  background-color: var(--third-color);
  color: var(--second-color);
}

.btn_lilac{
  background-color:var(--sixth-color);
}

.btn_large{
  padding: 14px 40px;
}

.btn_thin{
  padding: 10px 15px;
}

.btn_big{
  color: var(--sixth-color);
  padding: 30px 80px;
}

.btn_circle{
  padding:15px 20px;
  border-radius: 50%;
}

.btn_contrast{
  color: var(--second-color);
}


.btn i{
  margin-right: 10px;
}

/* Text  */
.text_c{
  text-align: center;
}

main .demo_downl h3{
  color: var(--third-color);
  font-size: 1.5rem;
}

main .demo_downl p{
  color: var(--fifth-color);
}

/* HEADER  */
header{
  color: white;
  background-color: var(--third-color);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .container{
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 1.5rem;
}

header .container .logo img{
  vertical-align: middle;
}

.container .nav_hamb i:hover{
  opacity: .8;
  cursor: pointer;
}

  .container .nav_desktop{
  display:none ;
  height: 100%;
}

.container .nav_desktop ul{
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.container .nav_desktop li{
  list-style: none;
  height: 100%;
  line-height: 80px;
  
}

.container .nav_desktop li a{
  color: var(--second-color);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 14px;
  margin: 10px;
}

.container .nav_desktop li a.btn{
  color: black;
}

.container .nav_desktop li:hover{
  opacity: 0.7;
  cursor: pointer;
  border-bottom: 2px solid var(--seventh-color);
}

.nav_desktop li:last-child:hover{
  border-bottom: none;
}

/* MAIN  */

/* Demo_downl  */
main .demo_downl{
  margin-top: 80px;
}
main .demo_downl .row{
  width: 100%;
}

main .demo_downl .row .card{
  background-color: var(--fourth-color);
}

main .demo_downl .icon{
  font-size: 5rem ;
  color: var(--third-color);
}

/* Strategic_planning */
main .strategic_planning img{
  width: 100%;
}

main .strategic_planning h1{
  color: var(--second-color);
  font-size: 1.8rem;
}

main .strategic_planning h3{
  color: var(--first-color);
}

main .strategic_planning p{
  font-size: .8rem;
  color: var(--second-color);
}

main .strategic_planning .card_white p{
  font-style: italic;
  color: var(--eighth-color);
}

main .strategic_planning .btn i{
  margin: 0;
}


/* Testimonial */
main .testimonial 

/* Benefit */


/* About_us */


/* Get_start */
/* TODO: eliminare altezze fisse */
main .get_started .container{
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main .get_started p:last-child a{
  color: var(--second-color);
}

/* FOOTER */
footer{
  background-color: var(--eighth-color);
  color: white;
}

footer .container{
  height: 230px;
  padding:0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer .container .upper,
footer .container .bottom{
  text-align: center;
}

footer a{
  color: #7875ae;
}

/* *********************************** 
MEDIA QUERY 
***********************************  */
/* Risoluzione tablet */

@media screen and (min-width:768px) {
  .text_l{
    text-align: left;
  }

  .flex_tbt{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .demo_downl .row,
  main .benefit .row,
  main .about_us .row{
    flex-direction: row;
    
  }


  main .demo_downl .row .col_big,
  main .about_us .row .col_big{
    width:66.66%;
  }

  main .demo_downl .row .col_small,
  main .about_us .row .col_small{
    width:33%;
  }

  main .demo_downl .row .col_standard{
    width: calc(100% /3);
  }

  main .demo_downl h3{
    font-size: 1.2rem;
  }

  main .demo_downl p{
    font-size: .9rem;
  }

  
  main .strategic_planning .card img{
    width: 70%;
  }

  main .testimonial .card_lilac{
    display: flex;
  }
  
  main .benefit .row .col_standard{
    width: calc(100% /2);
  }
}


/* Risoluzione desktop */
@media screen and (min-width:1200px){
  .flex{
    display: flex;
  }

  .container{
    max-width: 1200px;
    width: 80%;
  }
  header .container{
    padding: 0;
  }

  header .nav_hamb{
    display: none;
  }

  header .container .nav_desktop{
    display: block;
  }


  main .strategic_planning .row{
    display: flex;
  }

  main .strategic_planning .row .col{
    width: 50%;
    align-items: end;
  }

  main .strategic_planning .card_white{
    max-height: 450px;
    max-width: 300px;
  }

  main .benefit .row .col_standard{
    width: calc(100% /3);
  }



/* Per evitare che la pagina si allarghi troppo */
@media screen and (min-width:1000px) and (max-width:1199px) {
  .container{
      width: 90%;
  }   
}