:root{
  --first-color:black;
  --second-color:white;
  --third-color:#0084fd;
  --fourth-color:#b5ddff;
  --fifth-color:#5a6e7f;
  --sixth-color:#9792e4;
  --seventh-color:#fdc15f;
  --eighth-color:#333333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"PT Sans", sans-serif ;
}

/* UTILITY */

.debug{
  border: 1px solid red;
}

.d_flex{
  display: flex;
}

.container{
  width: 98%;
  margin: 0 auto;
}

/* distanze */

.pb_xs{
  padding-bottom: 25px;
}

.pb_s{
  padding-bottom: 35px;
}

.pb_m{
  padding-bottom: 60px;
}

.pb_l{
  padding-bottom: 80px;
}

.pt_xs{
  padding-top: 30px;
}

.pt_s{
  padding-top: 35px;
}

.pt_m{
  padding-top: 60px;
}

.padd_row{
  padding: 50px 30px;
}
.padd_card{
  padding: 0 30px;
}

/* HEADER  */
header{
  background-color: var(--third-color);
  height: 80px;
  color: white;
}

header .container{
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 1.5rem;
}

header .container .logo{
  font-size: 2rem;
}

.container .nav_desktop{
  display:none ;
}

.container .nav_desktop li{
  list-style: none;
}

.container .nav_desktop li a{
  text-decoration: none;
  color: var(--second-color);
  padding: 10px 14px;
  margin: 20px;
}

/* MAIN  */

/* Demo_downl  */
main .demo_downl .row{
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

/* TODO: eliminare altezze fisse */
main .demo_downl .row .col{
  /* height: 100px; */
}

main .demo_downl .row .card{
  background-color: var(--fourth-color);
  border-radius: 10%;
  height: 100%;
}

/* Strategic_planning */
main .strategic_planning{
  background-color: var(--sixth-color);
}

main .strategic_planning .row .card_white{
  background-color: var(--second-color);
  color: black;
  border-radius: 10%;
}



/* FOOTER */



/* *********************************** 
MEDIA QUERY 
***********************************  */